@using PlayoffPool.MVC.Models.Admin;
@model ManageTeamsViewModel

<form asp-action="SaveTeams" method="post">
    @for (int i = 0; i < this.Model.Rounds.Count; i++)
    {
        <div class="row">
            <fieldset>
                <div class="container-fluid">
                    <legend>
                        @this.Model.Rounds[i].Name
                        <span>
                            <input asp-for="@this.Model.Rounds[i].PointValue" /> Points
                        </span>
                    </legend>

                    <input class="form-check-input" type="hidden" asp-for="@this.Model.Rounds[i].Id" />
                    <input class="form-check-input" type="hidden" asp-for="@this.Model.Rounds[i].Name" />
                    <input class="form-check-input" type="hidden" asp-for="@this.Model.Rounds[i].Number" />
                </div>
                @for (int j = 0; j < this.Model.Rounds[i].Teams.Count; j++)
                {
                    <span>
                        <input type="checkbox" class="btn-check" asp-for="@this.Model.Rounds[i].Teams[j].Selected" id="@this.Model.Rounds[i].Teams[j].ViewId" autocomplete="off">
                        <label class="btn btn-outline-primary" for="@this.Model.Rounds[i].Teams[j].ViewId">@this.Model.Rounds[i].Teams[j].Name</label>
                        <input class="form-check-input" type="hidden" asp-for="@this.Model.Rounds[i].Teams[j].Id" />
                        <input class="form-check-input" type="hidden" asp-for="@this.Model.Rounds[i].Teams[j].Name" />
                    </span>
                }
            </fieldset>
        </div>
    }
    <button class="pp-button">Submit</button>
</form>
